<section class="hero-page">
  <div class="container hero-container">
    <div class="title-container-hero-page">
      <h1 class="title-hero-page">
        Hello, I am
        <span class="second-part-title-hero">Fullstack developer</span>
      </h1>
      <div>
        <img
          class="img-hero-page"
          src="../img/photo/photo_hero_desktop.jpg"
          alt="Photo developer"
          srcset="../img/photo/photo_hero_desktop@2x.jpg 2x"
          width="592"
          height="444"
        />
      </div>
    </div>
    <div class="descr-hero-page">
      <a class="hero-page-link" href="#my-project">
       <div>
          <svg class="icon-hero-page" width="32" height="16">
            <use href="../img/symbol-defs.svg#icon-arrow-btn"></use>
          </svg>
       </div>
        <span>Order the</span>
        <div class="second-part-text-link">project</div>
      </a>
      <p class="descr-text-hero-page">
        I work with people all over the world to create
        <span class="second-part">impressive</span> and
        <span class="second-part">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <section class="soc-link-section">
    <div class="container">
      <ul class="soc-list-hero-page">
        <li><a class="soc-link-hero-page" href="" target="Instagram">Instagram</a></li>
        <li><a class="soc-link-hero-page" href="" target="_blank">Facebook</a></li>
        <li><a class="soc-link-hero-page" href="" target="_blank">Linkedin</a></li>
        <li><a class="soc-link-hero-page" href="" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </section>
</section>

